# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
uploads/*

# Logs
logs/
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
debug.log

# Database
*.sqlite
*.sqlite3
*.db
*.sql

# Cache & Output
dist/
build/
coverage/
public/

# IDE & Editor settings
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
